# You can provide a single ID, or multiple IDs separated by commas to bypass rate limits
SPOTIFY_CLIENT_ID=your_client_id_1,your_client_id_2
SPOTIFY_CLIENT_SECRET=your_client_secret_1,your_client_secret_2
SPOTIFY_PLAYLIST_ID=6jiNsQnLOGTHZYw3dTd2nc

NTFY_SERVER_URL=https://ntfy.sh
NTFY_TOPIC=your_private_random_topic
NTFY_ACCESS_TOKEN=your_ntfy_access_token_if_using_public_server
